body {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(to top, #000000 0%, #000ba4 100%);
}

#header
{
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}