/* ----------- BODY ----------- */

body {
    font-family: 'Times New Roman', Times, serif;
    color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: linear-gradient(to top, #000000 0%, #000ba4 100%);
}

/* ----------- HEADER ----------- */
#header{   
    text-align: center;
}

#header h1{
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
}

#description{
    text-align: center;
}

#star-header{
    font-size: 45px;
    margin-bottom: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 140px;
    font-family: 'Times New Roman', serif;
    color: yellow;
    margin-bottom: 5px;
}

.dropdown-selected {
    padding: 5px 10px;
    background: transparent;
    border: 1px solid yellow;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.dropdown-options {
    list-style: none;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid yellow;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
}

.dropdown-options li {
    padding: 8px;
    cursor: pointer;
}

.dropdown-options li:hover {
    background: rgba(255, 255, 255, 0.2);
}


/* ----------- DESCRIBE-MOVIE ----------- */
#describe-movie{
    border: 3px solid black;
    width: 95%;
    margin-bottom: 5px;
    text-align: left;
}

#describe-movie p{
    margin-left: 5px;
}

/* ----------- RESULTS ----------- */
#results{
    border: 3px solid black;
    width: 95%;
    margin-bottom: 5px;
    text-align: left;
}
#results p{
    margin-left: 5px;
}

/* ----------- FOOTER ----------- */
#footer{
    width: 95%;
    margin-bottom: 5px;
    text-align: left;
}

#footer p{
    margin-left: 5px;
    color: rgb(239, 239, 239);
}

#footer a{
    color: rgb(229, 229, 229);
    font-style: italic;
    text-decoration: underline;
}

#footer a:hover{
    color: yellow;
}

#star-footer{
    font-size: 45px;
}

/* RESPONSIVE WIDTH */

/* DESKTOP*/
@media (min-width: 1025px) {
    #describe-movie,
    #results,
    #footer{
        width: 50%;
    }
}

/* MOBIL*/
@media (min-width: 600px) {
    #describe-movie,
    #results,
    #footer{
        width: 50%;
    }
}